@keyframes example {
    0% {background-color: red;}
    25%{background-color: yellow;}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: darkblue;}
}
@keyframes epilepsija {
    from {background-color: white;}
    to {background-color: black;}

}

body {
    background-color: white;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /*animation-name: epilepsija;*/
    /*animation-duration: 0.06s;*/
    /*animation-iteration-count: infinite;*/

}