html {
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    height: 50px;
    width: 70px;
}

nav {
    border-top-style: solid;
    border-top-width: 2.5px;
    border-color: black;
    border-bottom-style: double;
    border-bottom-width: 10px;
    background-color: rgba(27, 25, 88, 0.5);
    height: 30px;
    color: #ffffff;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    opacity: 50%;
    display: flex;
    align-items: center;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;
}

h1 {
    padding-top: 100px;
    margin-left: 50px;
    font-size: 30px;
}

p {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    white-space: normal;
    text-align: justify;
}
footer {
    display:flex;justify-content:center;align-items:center;
}





