nav {
    background: #173F48;
    height: 30px;
    color: #ffffff;
    padding: 3px;
    overflow: hidden;
}
a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;

}
main {
    text-align: justify;
  }
h1 {
    margin-left: 50px;
    font-size: 30px;
    text-decoration: gray;
}
p {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    white-space: normal;
    text-align: center;
}





